.animalImg {
  border: 3px solid #000000;
  border-radius: 15px;
}

.imgContainer {
  margin: 15px auto;
  text-align: center;
}

.infoContainer {
  margin: 15px auto;
  width: 300px;
}

.info {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
